<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style2.css">
    <link rel="page icon" type="icon" href="/fcahptib.png">
    <title>Admin Dashboard</title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <center><img src="/fcahptib.png" alt="" height="50"></center>
    <h3 style="color: white; font-family: calibri; text-align: center;">
        Administrator Section</h3>
</div>
    <!-- menu bar -->
    <div class="menu-bar">
        <a href="/admin/dashboard">Dashboard</a>

      <!-- Academic Session -->
        <div class="dropdown">
          <button class="dropbtn">Session
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/admin/update_session">Update academic session</a>
          </div>
        </div>        
           <!-- Academic Semester -->
           <div class="dropdown">
            <button class="dropbtn">Semester
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/admin/update_semester">Update academic semester</a>
            </div>
          </div> 
        <!-- result section -->
        <div class="dropdown">
            <button class="dropbtn">Result
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/admin/upload_result">Upload result</a>
              <a href="/admin/manage_result">Manage result</a>
            </div>
          </div>        

          <!-- student section -->
          <div class="dropdown">
            <button class="dropbtn">Student
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/admin/add_student">Add student</a>
              <a href="/admin/manage_student">Manage student</a>
            </div>
          </div>
           <!-- Admin section -->
           <div class="dropdown">
            <button class="dropbtn">Admin
              <i class="fa fa-caret-down"></i>
            </button>
          <div class="dropdown-content">
            <a href="/admin/add_admin">Add New Admin</a>
            <a href="/admin/manage_admin">Manage Admin</a>
          </div>
          </div>
        <!-- course section -->
        <div class="dropdown">
            <button class="dropbtn">Course
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/admin/add_course">Add course</a>
              <a href="/admin/manage_course">Manage courses</a>
            </div>
          </div>
        <a href="/admin/logout" id="logout">Logout</a>
        <a href="/admin/change_password">Change Password</a>
    </div>
    <div>
        <p  style="margin: 0px 5px 5px 8px; font-size: 12pt;"
        id="currentSN">Current Session: <b><%=academic[0].Session%>/<%=academic[0].Session + 1%> - <%=academic[0].Semester%></b></p>
        <p style="margin: 15px 5px 5px 8px; font-size: 16pt;"
        id="welcomeBack">Welcome back, <b><%=username%></b></p>
    </div>

    <!-- dashboards -->
    <div class="dashs">
        <div class="dash" id="student_dash">
          <p style="font-size: 30px;"><%=students.length%></p>
          <p>Students</p>
             <i class="fa fa-user" style="font-size: 70px; color: rgba(2, 2, 2, 0.288);"></i>
          
        </div>
        <div class="dash" id="result_dash">
          <p style="font-size: 30px;"><%=results.length%></p>
          <p>Results</p>
          <i class="fa fa-table" style="font-size: 70px; color: rgba(2, 2, 2, 0.288);"></i>
        </div>
        <!-- <div class="dash" id="department_dash">
          <p style="font-size: 30px;"><%=department.length%></p>
            <p>Department</p>
            <i class="fa fa-users" style="font-size: 70px; color: rgba(2, 2, 2, 0.082);"></i>
        </div> -->
        <div class="dash" id="course_dash">
          <p style="font-size: 30px;"><%=courses.length%></p>
          <p>Courses</p>
          <i class="fa fa-book" style="font-size: 70px; color: rgba(2, 2, 2, 0.288);"></i>
      </div>
        <!-- <div class="dash">
          <p>Current Session: <%=academic[0].Session%></p>
          <p>Current Semester: <%=academic[0].Semester%></p>
      </div> -->
        <div class="dash" id="admin_dash">
          <p style="font-size: 30px;"><%=admin.length%></p>
            <p>Admin</p>
            <i class="fa fa-users" style="font-size: 70px; color: rgba(2, 2, 2, 0.288);"></i>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <footer>
         <span style="font-size: 15px; text-align: center;
         font-style: normal; font-family: Arial, Helvetica, sans-serif; color: gray;">
         &copy; <span id="cr"></span> FCAHPTIB.</span>
      </footer>
      </div>
    <script>
        let date = new Date
        document.getElementById("cr").innerHTML = date.getFullYear();
        document.querySelector('#logout').addEventListener('click', (e)=>{
      if(confirm('Are sure you want to logout?') == true){
       fetch('/admin/logout',{
       method: 'get'})
      }else{
       e.preventDefault()
   }
   
})
    </script>
</body>
</html>