<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <link rel="page icon" type="icon" href="/fcahptib.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/index.js"></script>
<style>
    .bioTable{
        width: 100%;
        border-collapse: collapse;
    }
   .bioTable td{
        text-align: center;
        font-family: calibri;
        font-size: 16px;        
    }
    .bioTable th,.bioTable td{
        border-bottom: 1px solid gainsboro
    }
</style>
</head>
<body>
    <div class="header">
        <img src="fcahptib.png" alt="" height="50">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" style="font-size: 20px; color: #fff;
             align-self: center;"></i>
          </a>    
    </div>
    <div class="sidebar" id="sideBar" style="width: 180px;">

        <p style="font-family: calibri; font-size: 16px; text-align: center;"><%=fullname%></p><br>
        
        <p style="font-family: calibri; font-size: 16px; text-align: center;
        color: rgb(71, 71, 71); display: block;">
        <i class="fa fa-fw fa-map-marker" style="font-size: 16px;"></i><%=department%></p><br><br>

            <a href="/dashboard" class="active"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a><br><br><br>
            <a href="/profile" id="profile"><i class="fa fa-fw fa-user"></i>Profile</a><br><br><br>
            <a href="/course_registration"><i class="fa fa-fw fa-book"></i>Course Registration</a><br><br><br>
            <a href="RePrint_Course_Form"><i class="fa fa-fw fa-book"></i>Reprint course form</a><br><br><br>
            <a href="/result"><i class="fa fa-fw fa-table"></i>My Result</a><br><br><br>
            <a href="/change_password"><i class="fa fa-fw fa-lock"></i>Change Password</a><br><br><br>
            <a href="/logout" id="logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a><br><br><br>
    </div>

    <!-- main content section -->
    <div class="main-content" id="mainContent">
        <div class="main">
            <div class="document">
                <p style="background-color: rgb(167, 50, 50);;">My Bio</p>
                <table class="bioTable">
                    <tr>
                        <td>Student Name:</td><td><%=fullname %></td>
                    </tr>
                    <tr>
                        <td>Gender:</td><td style="text-transform: capitalize;"><%=gender%></td>
                        </tr>
                    <tr>
                        <td>Matriculation Number:</td><td><%=matric %></td>
                    </tr>
                    <tr>
                        <td>Course of Study:</td><td><%=department %></td>
                    </tr>
                    <tr>
                        <td>Programme:</td><td><%=programme %></td>
                    </tr>
                    <tr>
                    <td>Email Address:</td><td><%=email%></td>
                    </tr>
                    <tr>
                        <td>Year of Admission:</td><td><%=admissionYear%></td>
                        </tr>
                </table>
               </div>
              
        </div>
    
    <!-- footer section -->
    <footer>
        <p style="font-size: 14px; text-align: center;
        font-style: normal; font-family: sans-serif; color: gray;">
        <span id="cr"></span> &copy;FCAHPTIB.</p>
        <p style="font-size: 14px; text-align: center;
        font-style: normal; font-family: sans-serif; color: gray;">Designed by Adeola Quadri. A</p>
        <p style="font-size: 14px; text-align: center;
        font-style: normal; font-family: sans-serif; color: gray;">Supervised by Dr. Mrs Olarenwaju O T.</p>
     </footer>
    </div>
        <!-- javascript code section -->
        <script>
            document.querySelector('#logout').addEventListener('click', (e)=>{
   if(confirm('Are sure you want to logout?') == true){
       fetch('/logout',{
       method: 'get'})
   }else{
       e.preventDefault()
   }
   
})
let date = new Date()
document.getElementById('cr').innerHTML = date.getFullYear();
function myFunction() {
var x = document.getElementById("sideBar");
if (x.style.display === "block") {
x.style.display = "none";
document.getElementById("mainContent").style.marginLeft = "0";
} else {
x.style.display = "block";
document.getElementById("mainContent").style.marginLeft = "180px";

}
}
        </script>
</body>
</html>